html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #c770f0;

  p {
    margin: 0;
  }
}

.purple {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url(./Assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: #1b1a2ea9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #be50f4 !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #181a27 !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}
.navbar-brand {
  color: rgb(250, 250, 250) !important;
}



.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #c95bf5;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

/* --------- */
/* Home section */
/* --------- */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.home-header {
  padding-top: 30px !important;
}

@media (max-width: 1024px) {
  .home-header {
    padding-top: 100px !important;
  }
}

.home-section {
  position: relative;
  background-image: var(--image-gradient), url(./Assets/home-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
  height: 100vh !important;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .home-section {
    height: 100% !important;
  }
}

@media (max-width: 767px) {
  .home-section {
    height: 100% !important;
  }
}

.home-content {
  padding: 6rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}


@media (max-width: 767px) {
  .home-content {
    padding: 2rem 0 2rem !important;
  }
}

/* home texts */
.home-general-text-common-style {
  padding-left: 50px !important;
  text-align: left;
}

@media (max-width: 767px) {
  .home-general-text-common-style {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.book-pic {
  box-shadow: 0px 1px 73px -10px rgba(255,255,255,0.42);
  -webkit-box-shadow: 0px 1px 73px -10px rgba(255,255,255,0.42);
  -moz-box-shadow: 0px 1px 73px -10px rgba(255,255,255,0.42);
}

.book-pic:hover {
  box-shadow: 0px 1px 73px -10px rgba(255, 255, 255, 0.52);
  -webkit-box-shadow: 0px 1px 73px -10px rgba(255,255,255,0.52);
  -moz-box-shadow: 0px 1px 73px -10px rgba(255,255,255,0.52);
}

@media (max-width: 767px) {
  .book-pic {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 80px;
    display: block !important;
  }
}

.heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.nav-github-star-box {
  background: rgb(105,60,0);
  background: linear-gradient(90deg, rgba(105,60,0,1) 0%, rgba(162,0,255,0) 100%);
  transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
  /* Initial shadow (optional) */
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.nav-github-star-box:hover {
  box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.175); /* White shadow with blur */
}


.github-star-count {
  background: #FFB76B;
  background: linear-gradient(to bottom right, #FFB76B 0%, #FFA73D 30%, #FF7C00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 45px !important;
}

@media (max-width: 767px) {
  .heading-name {
    padding-left: 0px !important;
    text-align: center;
  }
}


@media (max-width: 767px) {
  .remarks-title-container {
    display: flex;
    justify-content: center ;
  }
}

.endorse-title {
  font-size: 2.5em !important;
  padding-left: 45px !important;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .endorse-title {
    padding-left: 0px !important;
    text-align: center;
    margin-top: 70px;
  }
}

.skills-container {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

/* Show Go Down Indicator */
.show-godown-box {
  background-color: rgb(21 16 24);
  -webkit-box-shadow: inset 0px 0px 76px -8px #4e2b6b;
  -moz-box-shadow: inset 0px 0px 76px -8px #4e2b6b;
  box-shadow: inset 0px 0px 76px -8px #4e2b6b;
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  border: 1px solid #6d33a7;
  color: #ecdef9;
}

.show-godown-box:hover {
  -webkit-box-shadow: inset 0px 0px 120px 5px rgb(78, 28, 120), 0px 0px 40px -8px rgb(113, 67, 161);
  -moz-box-shadow: inset 0px 0px 120px 5px rgb(78, 28, 120), 0px 0px 40px -8px rgb(113, 67, 161);
  box-shadow: inset 0px 0px 120px 5px rgb(78, 28, 120), 0px 0px 40px -8px rgb(122, 76, 171);

  border: 1px solid #8645c7;
}

/* REACT NATIVE SKILL */
/* REACT NATIVE SKILL */
/* REACT NATIVE SKILL */
.react-native-skill-box {
  background-color: rgb(22, 28, 39);
  -webkit-box-shadow: inset 0px 0px 76px -8px rgba(44,71,115,1);
  -moz-box-shadow: inset 0px 0px 76px -8px rgba(44,71,115,1);
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  box-shadow: inset 0px 0px 76px -8px rgba(44,71,115,1);
  border: 1px solid #53acffbf;
  color: rgb(222, 234, 248);
}

.react-native-skill-box:hover {
  -webkit-box-shadow: inset 0px 0px 211px 5px rgba(44,71,115,1), 0px 0px 40px -8px rgba(51, 82, 131,1);
  -moz-box-shadow: inset 0px 0px 211px 5px rgba(44,71,115,1), 0px 0px 40px -8px rgba(51, 82, 131,1);
  box-shadow: inset 0px 0px 211px 5px rgba(44,71,115,1), 0px 0px 40px -8px rgba(51, 82, 131,1);

  border: 1px solid #7abfffbf;
}

.react-native-special-job {
  color: rgb(144 165 201);
  transition: color 0.3s ease; 
}

.react-native-skill-box:hover .react-native-special-job {
  color: rgb(222, 234, 248) !important;
}

.react-native-years {
  transition: background-color 0.3s ease; 
}

.react-native-skill-box:hover .react-native-years {
  background-color: #5c97ee !important;
}

/* REACT SKILL */
/* REACT SKILL */
/* REACT SKILL */
.react-skill-box {
  background-color: rgb(22, 39, 35);
  -webkit-box-shadow: inset 0px 0px 76px -8px rgb(44, 115, 104);
  -moz-box-shadow: inset 0px 0px 76px -8px rgba(44, 115, 104, 1);
  box-shadow: inset 0px 0px 76px -8px rgba(44, 115, 104, 1);
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  border: 1px solid #53fffcbf;
  color: rgb(188, 255, 255);
}

.react-skill-box:hover {
  -webkit-box-shadow: inset 0px 0px 120px 5px rgb(44, 115, 104), 0px 0px 40px -8px rgb(49, 132, 119);
  -moz-box-shadow: inset 0px 0px 120px 5px rgb(44, 115, 104), 0px 0px 40px -8px rgb(49, 132, 119);
  box-shadow: inset 0px 0px 120px 5px rgb(44, 115, 104), 0px 0px 40px -8px rgb(49, 132, 119);

  border: 1px solid #8ffffdbf;
}

.react-special-job {
  color: rgb(144 199 201);
  transition: color 0.3s ease; 
}

.react-skill-box:hover .react-special-job {
  color: rgb(188, 255, 255) !important;
}

.react-years {
  transition: background-color 0.3s ease; 
}

.react-skill-box:hover .react-years {
  background-color: rgb(82, 179, 208) !important;
}

/* NODE SKILL */
/* NODE SKILL */
/* NODE SKILL */
.node-skill-box {
  background-color: rgb(39, 39, 22);
  -webkit-box-shadow: inset 0px 0px 76px -8px rgb(115, 113, 44);
  -moz-box-shadow: inset 0px 0px 76px -8px rgb(115, 113, 44);
  box-shadow: inset 0px 0px 76px -8px rgb(115, 113, 44);
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  border: 1px solid #fff153bf;
  color: rgb(255, 253, 188);
}

.node-skill-box:hover {
  -webkit-box-shadow: inset 0px 0px 120px 5px rgb(115, 113, 44), 0px 0px 40px -8px rgb(132, 127, 49);
  -moz-box-shadow: inset 0px 0px 120px 5px rgb(115, 113, 44), 0px 0px 40px -8px rgb(132, 127, 49);
  box-shadow: inset 0px 0px 120px 5px rgb(115, 113, 44), 0px 0px 40px -8px rgb(132, 127, 49);

  border: 1px solid #fffb8fbf;
}

.node-special-job {
  color: rgb(201, 199, 144);
  transition: color 0.3s ease; 
}

.node-skill-box:hover .node-special-job {
  color: rgb(255, 253, 188) !important;
}

.node-years {
  transition: background-color 0.3s ease; 
}

.node-skill-box:hover .node-years {
  background-color: rgb(208, 202, 82) !important;
}

/* MONGO SKILL */
/* MONGO SKILL */
/* MONGO SKILL */
.mongo-skill-box {
  background-color: rgb(21 16 24);
  -webkit-box-shadow: inset 0px 0px 76px -8px #4e2b6b;
  -moz-box-shadow: inset 0px 0px 76px -8px #4e2b6b;
  box-shadow: inset 0px 0px 76px -8px #4e2b6b;
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  border: 1px solid #b368ff;
  color: #ecdef9;
}

.mongo-skill-box:hover {
  -webkit-box-shadow: inset 0px 0px 120px 5px rgb(78, 28, 120), 0px 0px 40px -8px rgb(113, 67, 161);
  -moz-box-shadow: inset 0px 0px 120px 5px rgb(78, 28, 120), 0px 0px 40px -8px rgb(113, 67, 161);
  box-shadow: inset 0px 0px 120px 5px rgb(78, 28, 120), 0px 0px 40px -8px rgb(122, 76, 171);

  border: 1px solid #c78fffbf;
}

.mongo-special-job {
  color: #ccadeeed;
  transition: color 0.3s ease; 
}

.mongo-skill-box:hover .mongo-special-job {
  color: #ecdef9 !important;
}

.mongo-years {
  transition: background-color 0.3s ease; 
}

.mongo-skill-box:hover .mongo-years {
  background-color: rgb(183, 148, 241) !important;
}

/* ADDITIONAL GRAPHQL SKILL */
/* ADDITIONAL GRAPHQL SKILL */
/* ADDITIONAL GRAPHQL SKILL */
.graphql-skill-box {
  background-color: rgb(39 33 22);
  -webkit-box-shadow: inset 0px 0px 76px -8px rgb(115 93 44);
  -moz-box-shadow: inset 0px 0px 76px -8px rgb(115 93 44);
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  box-shadow: inset 0px 0px 76px -8px rgb(115 93 44);
  border: 1px solid #ffe4b4bf;
  color: rgb(248 239 222);
}

.graphql-skill-box:hover {
  -webkit-box-shadow: inset 0px 0px 211px 5px rgb(115 93 44), 0px 0px 40px -8px rgb(131, 111, 51);
  -moz-box-shadow: inset 0px 0px 211px 5px rgb(115 93 44), 0px 0px 40px -8px rgb(131, 111, 51);
  box-shadow: inset 0px 0px 211px 5px rgb(115 93 44), 0px 0px 40px -8px rgb(131, 111, 51);

  border: 1px solid #fff7debf;
}

.graphql-special-job {
  color: rgb(201 178 144);
  transition: color 0.3s ease; 
}

.graphql-skill-box:hover .graphql-special-job {
  color: rgb(248 239 222) !important;
}

.graphql-years {
  transition: background-color 0.3s ease; 
}

.graphql-skill-box:hover .graphql-years {
  background-color: #eec25c !important;
}

/* ADDITIONAL NEXTJS SKILL */
/* ADDITIONAL NEXTJS SKILL */
/* ADDITIONAL NEXTJS SKILL */
.nextjs-skill-box {
  background-color: rgb(27 27 27);
  -webkit-box-shadow: inset 0px 0px 74px 3px #6c6b6bba;
  -moz-box-shadow: inset 0px 0px 74px 3px #6c6b6bba;
  box-shadow: inset 0px 0px 74px 3px #6c6b6bba;
  transition: box-shadow 1s ease, border 1s ease; /* Add a smooth transition effect */
  border: 1px solid #bbbbbb;
  color: #fbfbfb;
}

.nextjs-skill-box:hover {
  -webkit-box-shadow: inset 0px 0px 110px 7px #6b6b6b, 0px 0px 40px -8px #8b8b8b;
  -moz-box-shadow: inset 0px 0px 110px 7px #6b6b6b, 0px 0px 40px -8px #8b8b8b;
  box-shadow: inset 0px 0px 110px 7px #6b6b6b, 0px 0px 40px -8px #8b8b8b;

  border: 1px solid #ffffff;
}

.nextjs-special-job {
  color: #aeaeae;
  transition: color 0.3s ease; 
}

.nextjs-skill-box:hover .nextjs-special-job {
  color: #fbfbfb !important;
}

.nextjs-years {
  transition: background-color 0.3s ease; 
}

.nextjs-skill-box:hover .nextjs-years {
  background-color: rgb(191, 191, 191) !important;
}

/* ADDITIONAL BLOCKCHAIN SKILL */
/* ADDITIONAL BLOCKCHAIN SKILL */
/* ADDITIONAL BLOCKCHAIN SKILL */
.blockchain-skill-box {
  background: rgb(88,50,95);
  background: linear-gradient(336deg, rgba(88,50,95,1) 0%, rgba(24,34,29,1) 23%, rgba(21,30,25,1) 55%, rgba(63,67,41,1) 100%);

  -webkit-box-shadow: inset 0px 0px 76px -8px rgb(58 80 63);
  -moz-box-shadow: inset 0px 0px 76px -8px rgb(58 80 63);
  box-shadow: inset 0px 0px 76px -8px rgb(58 80 63);

  border: 1px solid #bebdbd;
  color: rgb(248, 248, 248);
  transition: box-shadow 1s ease, border 1s ease; /* Add a smooth transition effect */
}

.blockchain-skill-box:hover {
  background: rgb(88,50,95);
  background: linear-gradient(336deg, rgba(88,50,95,1) 0%, rgba(27,34,24,1) 23%, rgba(24,30,21,1) 55%, rgba(63,67,41,1) 100%);

  -webkit-box-shadow: inset 0px 0px 120px 5px rgb(58 80 63), 0px 0px 40px -8px rgb(131, 165, 149);
  -moz-box-shadow: inset 0px 0px 120px 5px rgb(58 80 63), 0px 0px 40px -8px rgb(131, 165, 149);
  box-shadow: inset 0px 0px 120px 5px rgb(58 80 63), 0px 0px 40px -8px rgb(131, 165, 149);

  border: 1px solid #ffffff;
}

.blockchain-special-job {
  color: #b4bbb0;
  transition: color 0.3s ease; 
}

.blockchain-skill-box:hover .blockchain-special-job {
  color: rgb(248, 248, 248) !important;
}

.blockchain-years {
  background: rgb(255,0,240);
  background: linear-gradient(336deg, rgba(255,0,240,1) 0%, rgba(0,255,126,1) 52%, rgba(254,255,0,1) 100%);
  opacity: 0.5;
  transition: opacity 1s ease;
}

.blockchain-skill-box:hover .blockchain-years {
  opacity: 1
}

/* ADDITIONAL AWS SKILL */
/* ADDITIONAL AWS SKILL */
/* ADDITIONAL AWS SKILL */
.aws-skill-box {
  background-color: rgb(22, 28, 39);
  -webkit-box-shadow: inset 0px 0px 76px -8px rgb(20 51 101);
  -moz-box-shadow: inset 0px 0px 76px -8px rgb(20 51 101);
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  box-shadow: inset 0px 0px 76px -8px rgb(20 51 101);
  border: 1px solid #53acffbf;
  color: rgb(222, 234, 248);
}

.aws-skill-box:hover {
  -webkit-box-shadow: inset 0px 0px 211px 5px rgba(44,71,115,1), 0px 0px 40px -8px rgba(51, 82, 131,1);
  -moz-box-shadow: inset 0px 0px 211px 5px rgba(44,71,115,1), 0px 0px 40px -8px rgba(51, 82, 131,1);
  box-shadow: inset 0px 0px 211px 5px rgba(44,71,115,1), 0px 0px 40px -8px rgba(51, 82, 131,1);

  border: 1px solid #7abfffbf;
}

.aws-special-job {
  color: rgb(144 165 201);
  transition: color 0.3s ease; 
}

.aws-skill-box:hover .aws-special-job {
  color: rgb(222, 234, 248) !important;
}

.aws-years {
  transition: background-color 0.3s ease; 
}

.aws-skill-box:hover .aws-years {
  background-color: #5c97ee !important;
}

/* ADDITIONAL MYSQL SKILL */
/* ADDITIONAL MYSQL SKILL */
/* ADDITIONAL MYSQL SKILL */
.mysql-skill-box {
  background-color: rgb(22, 28, 39);
  -webkit-box-shadow: inset 0px 0px 76px -8px rgba(44,71,115,1);
  -moz-box-shadow: inset 0px 0px 76px -8px rgba(44,71,115,1);
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  box-shadow: inset 0px 0px 76px -8px rgba(44,71,115,1);
  border: 1px solid #53acffbf;
  color: rgb(222, 234, 248);
}

.mysql-skill-box:hover {
  -webkit-box-shadow: inset 0px 0px 211px 5px rgba(44,71,115,1), 0px 0px 40px -8px rgba(51, 82, 131,1);
  -moz-box-shadow: inset 0px 0px 211px 5px rgba(44,71,115,1), 0px 0px 40px -8px rgba(51, 82, 131,1);
  box-shadow: inset 0px 0px 211px 5px rgba(44,71,115,1), 0px 0px 40px -8px rgba(51, 82, 131,1);

  border: 1px solid #7abfffbf;
}

.mysql-special-job {
  color: rgb(144 165 201);
  transition: color 0.3s ease; 
}

.mysql-skill-box:hover .mysql-special-job {
  color: rgb(222, 234, 248) !important;
}

.mysql-years {
  transition: background-color 0.3s ease; 
}

.mysql-skill-box:hover .mysql-years {
  background-color: #5c97ee !important;
}

/* ADDITIONAL RABBITMQ SKILL */
/* ADDITIONAL RABBITMQ SKILL */
/* ADDITIONAL RABBITMQ SKILL */
.rabbitmq-skill-box {
  background-color: #151520;
  -webkit-box-shadow: inset 0px 0px 76px -8px #3b388d;
  -moz-box-shadow: inset 0px 0px 76px -8px #3b388d;
  box-shadow: inset 0px 0px 76px -8px #3b388d;
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  border: 1px solid #6b68ff;
  color: #dfdef9;
}

.rabbitmq-skill-box:hover {
  -webkit-box-shadow: inset 0px 0px 120px 5px #3b388d, 0px 0px 40px -8px rgb(67, 70, 161);
  -moz-box-shadow: inset 0px 0px 120px 5px #3b388d, 0px 0px 40px -8px rgb(67, 70, 161);
  box-shadow: inset 0px 0px 120px 5px #3b388d, 0px 0px 40px -8px rgb(67, 70, 161);

  border: 1px solid #918fffbf;
}

.rabbitmq-special-job {
  color: #adaeeeed;
  transition: color 0.3s ease; 
}

.rabbitmq-skill-box:hover .rabbitmq-special-job {
  color: #dfdef9 !important;
}

.rabbitmq-years {
  transition: background-color 0.3s ease; 
}

.rabbitmq-skill-box:hover .rabbitmq-years {
  background-color: rgb(148, 150, 241) !important;
}

/* ADDITIONAL MICROSERVICE SKILL */
/* ADDITIONAL MICROSERVICE SKILL */
/* ADDITIONAL MICROSERVICE SKILL */
.microservice-skill-box {
  background-color: rgb(16 23 24);
  -webkit-box-shadow: inset 0px 0px 76px -8px #2b636b;
  -moz-box-shadow: inset 0px 0px 76px -8px #2b636b;
  box-shadow: inset 0px 0px 76px -8px #2b636b;
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  border: 1px solid #68efff;
  color: #def7f9;
}

.microservice-skill-box:hover {
  -webkit-box-shadow: inset 0px 0px 120px 5px #2b636b, 0px 0px 40px -8px rgb(67, 148, 161);
  -moz-box-shadow: inset 0px 0px 120px 5px #2b636b, 0px 0px 40px -8px rgb(67, 148, 161);
  box-shadow: inset 0px 0px 120px 5px #2b636b, 0px 0px 40px -8px rgb(67, 148, 161);

  border: 1px solid #94f4ff;
}

.microservice-special-job {
  color: #8bc1cced;
  transition: color 0.3s ease; 
}

.microservice-skill-box:hover .microservice-special-job {
  color: #def7f9 !important;
}

.microservice-years {
  transition: background-color 0.3s ease; 
}

.microservice-skill-box:hover .microservice-years {
  background-color: rgb(88, 193, 205) !important;
}

/* Additional SKILL BOTTOM SVG */
.custom-shape-divider-bottom-1711715159 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711715159 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 123px;
}

.custom-shape-divider-bottom-1711715159 .shape-fill {
  fill: #1A1428;
}

/* JOB EXPERIENCE SECTION */
/* JOB EXPERIENCE SECTION */
/* JOB EXPERIENCE SECTION */
.experience-background {
  background-image: url(./Assets/expBackground.svg);
  padding-bottom: 70px !important;
  background-size: cover;
}


/* LEADERSHIP SUCCESS */
.leadershipContainer{
  padding-left: 50px !important;
  padding-right: 50px !important;
}

@media (max-width: 767px) {
  .leadershipContainer {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.leadershipContents {
  margin-top: 5rem  !important;
  padding-bottom: 5rem !important;
  color: whitesmoke;
  text-align: left;
}


@media (max-width: 767px) {
  .leadershipContents {
    margin-top: 2rem !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.leadership-texts {
  padding-right: 20px;
}

@media (max-width: 767px) {
  .leadership-texts {
    padding-right: 0px;
  }
}

/* PROJECT SECTION */
.projects-main-container {
  background-image: url(./Assets/projectBackground.svg);
  background-size: cover;
}

.projects-background{
  padding-left: 50px !important;
  padding-right: 50px !important;
}

@media (max-width: 767px) {
  .projects-background {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.projectsContents {
  margin-top: 3.5rem  !important;
  padding-bottom: 2rem !important;
  color: whitesmoke;
  text-align: left;
}


@media (max-width: 767px) {
  .projectsContents {
    margin-top: 2rem !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

/* PROJECT BSPORT */
/* PROJECT BSPORT */
/* PROJECT BSPORT */
.project-bsport-box {
  background-color: rgb(22, 28, 39);
  -webkit-box-shadow: inset 0px 0px 76px -8px rgba(44,71,115,1);
  -moz-box-shadow: inset 0px 0px 76px -8px rgba(44,71,115,1);
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  box-shadow: inset 0px 0px 76px -8px rgba(44,71,115,1);
  border: 1px solid #53acffbf;
  color: rgb(222, 234, 248);
}

.project-bsport-box:hover {
  -webkit-box-shadow: inset 0px 0px 211px 5px rgba(44,71,115,1), 0px 0px 40px -8px rgba(51, 82, 131,1);
  -moz-box-shadow: inset 0px 0px 211px 5px rgba(44,71,115,1), 0px 0px 40px -8px rgba(51, 82, 131,1);
  box-shadow: inset 0px 0px 211px 5px rgba(44,71,115,1), 0px 0px 40px -8px rgba(51, 82, 131,1);

  border: 1px solid #7abfffbf;
}

.project-bsport-special-job {
  color: rgb(183, 205, 230);
  transition: color 0.3s ease; 
}

.project-bsport-box:hover .project-bsport-special-job {
  color: rgb(222, 234, 248) !important;
}

.project-bsport-years {
  transition: background-color 0.3s ease; 
}

.project-bsport-box:hover .project-bsport-years {
  background-color: #5c97ee !important;
}

.project-bsport-image {
  opacity: 0.8;
  transition: opacity 0.3s ease; 
}

.project-bsport-box:hover .project-bsport-image {
  opacity: 1
}

/* PROJECT ECOMMERCE */
/* PROJECT ECOMMERCE */
/* PROJECT ECOMMERCE */
.project-ecommerce-box {
  background-color: rgb(22, 39, 35);
  -webkit-box-shadow: inset 0px 0px 76px -8px rgb(44, 115, 104);
  -moz-box-shadow: inset 0px 0px 76px -8px rgba(44, 115, 104, 1);
  box-shadow: inset 0px 0px 76px -8px rgba(44, 115, 104, 1);
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  border: 1px solid #53fffcbf;
  color: rgb(188, 255, 255);
}

.project-ecommerce-box:hover {
  -webkit-box-shadow: inset 0px 0px 120px 5px rgb(44, 115, 104), 0px 0px 40px -8px rgb(49, 132, 119);
  -moz-box-shadow: inset 0px 0px 120px 5px rgb(44, 115, 104), 0px 0px 40px -8px rgb(49, 132, 119);
  box-shadow: inset 0px 0px 120px 5px rgb(44, 115, 104), 0px 0px 40px -8px rgb(49, 132, 119);

  border: 1px solid #8ffffdbf;
}

.project-ecommerce-special-job {
  color: rgb(170, 232, 232);
  transition: color 0.3s ease; 
}

.project-ecommerce-box:hover .project-ecommerce-special-job {
  color: rgb(188, 255, 255) !important;
}

.project-ecommerce-years {
  transition: background-color 0.3s ease; 
}

.project-ecommerce-box:hover .project-ecommerce-years {
  background-color: rgb(82, 179, 208) !important;
}

.project-ecommerce-image {
  opacity: 0.4;
  transition: opacity 0.3s ease; 
}

.project-ecommerce-box:hover .project-ecommerce-image {
  opacity: 0.6
}

/* PROJECT NFT */
/* PROJECT NFT */
/* PROJECT NFT */
.project-nft-box {
  background-color: rgb(39, 39, 22);
  -webkit-box-shadow: inset 0px 0px 41px 0px rgb(92 89 9);
  -moz-box-shadow: inset 0px 0px 41px 0px rgb(92 89 9);
  box-shadow: inset 0px 0px 41px 0px rgb(92 89 9);
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  border: 1px solid #fff153bf;
  color: rgb(255, 253, 188);
}

.project-nft-box:hover {
  -webkit-box-shadow: inset 0px 0px 120px 5px rgb(115, 113, 44), 0px 0px 40px -8px rgb(132, 127, 49);
  -moz-box-shadow: inset 0px 0px 120px 5px rgb(115, 113, 44), 0px 0px 40px -8px rgb(132, 127, 49);
  box-shadow: inset 0px 0px 120px 5px rgb(115, 113, 44), 0px 0px 40px -8px rgb(132, 127, 49);

  border: 1px solid #fffb8fbf;
}

.project-nft-special-job {
  color: rgb(253, 251, 180);
  transition: color 0.3s ease; 
}

.project-nft-box:hover .project-nft-special-job {
  color: rgb(255, 253, 188) !important;
}

.project-nft-years {
  transition: background-color 0.3s ease; 
}

.project-nft-box:hover .project-nft-years {
  background-color: rgb(208, 202, 82) !important;
}

.project-nft-image {
  opacity: 0.5;
  transition: opacity 0.3s ease; 
}

.project-nft-box:hover .project-nft-image {
  opacity: 0.7
}

/* PROJECT YOUTH */
/* PROJECT YOUTH */
/* PROJECT YOUTH */
.project-youth-box {
  background-color: rgb(21 16 24);
  -webkit-box-shadow: inset 0px 0px 76px -8px #4e2b6b;
  -moz-box-shadow: inset 0px 0px 76px -8px #4e2b6b;
  box-shadow: inset 0px 0px 76px -8px #4e2b6b;
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  border: 1px solid #b368ff;
  color: #ecdef9;
}

.project-youth-box:hover {
  -webkit-box-shadow: inset 0px 0px 120px 5px rgb(78, 28, 120), 0px 0px 40px -8px rgb(113, 67, 161);
  -moz-box-shadow: inset 0px 0px 120px 5px rgb(78, 28, 120), 0px 0px 40px -8px rgb(113, 67, 161);
  box-shadow: inset 0px 0px 120px 5px rgb(78, 28, 120), 0px 0px 40px -8px rgb(122, 76, 171);

  border: 1px solid #c78fffbf;
}

.project-youth-special-job {
  color: #ccadeeed;
  transition: color 0.3s ease; 
}

.project-youth-box:hover .project-youth-special-job {
  color: #ecdef9 !important;
}

.project-youth-years {
  transition: background-color 0.3s ease; 
}

.project-youth-box:hover .project-youth-years {
  background-color: rgb(183, 148, 241) !important;
}

.project-youth-image {
  opacity: 0.5;
  transition: opacity 0.3s ease; 
}

.project-youth-box:hover .project-youth-image {
  opacity: 0.7
}

/* PROJECT TRUCK MANAGEMENT */
/* PROJECT TRUCK MANAGEMENT */
/* PROJECT TRUCK MANAGEMENT */
.project-truck-box {
  background-color: #151520;
  -webkit-box-shadow: inset 0px 0px 76px -8px #3b388d;
  -moz-box-shadow: inset 0px 0px 76px -8px #3b388d;
  box-shadow: inset 0px 0px 76px -8px #3b388d;
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  border: 1px solid #6b68ff;
  color: #dfdef9;
}

.project-truck-box:hover {
  -webkit-box-shadow: inset 0px 0px 120px 5px #3b388d, 0px 0px 40px -8px rgb(67, 70, 161);
  -moz-box-shadow: inset 0px 0px 120px 5px #3b388d, 0px 0px 40px -8px rgb(67, 70, 161);
  box-shadow: inset 0px 0px 120px 5px #3b388d, 0px 0px 40px -8px rgb(67, 70, 161);

  border: 1px solid #918fffbf;
}

.project-truck-special-job {
  color: #adaeeeed;
  transition: color 0.3s ease; 
}

.project-truck-box:hover .project-truck-special-job {
  color: #dfdef9 !important;
}

.project-truck-years {
  transition: background-color 0.3s ease; 
}

.project-truck-box:hover .project-truck-years {
  background-color: rgb(148, 150, 241) !important;
}

.project-truck-image {
  opacity: 0.5;
  transition: opacity 0.3s ease; 
}

.project-truck-box:hover .project-truck-image {
  opacity: 0.7
}


/* AUTO HORIZONTAL SCROLLER CSS */
/* AUTO HORIZONTAL SCROLLER CSS */
/* AUTO HORIZONTAL SCROLLER CSS */
/* AUTO HORIZONTAL SCROLLER CSS */
/* AUTO HORIZONTAL SCROLLER CSS */
.inner {
  overflow: hidden;
  position: relative;
}

.wrapper1 {
  display: flex;
}

.my-section {
  display: flex;
  animation: swipe var(--speed) linear infinite ;
}

@keyframes swipe {
  from {
    left: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.left-bar-scroller {
  background: rgb(20,16,34);
  background: linear-gradient(90deg, rgba(20,16,34,1) 0%, rgba(23,17,34,0) 100%);
  width: 300px;
}

.right-bar-scroller {
  background: rgb(23,17,34);
  background: linear-gradient(90deg, rgba(23,17,34,0) 0%, rgba(25,20,39,1) 100%);
  width: 300px;
}

@media (max-width: 767px) {
  .left-bar-scroller {
    width: 30px;
  }
}

@media (max-width: 767px) {
  .right-bar-scroller {
    width: 30px;
  }
}

/* TESTIMONIALS */
.testimonial-box {
  background-color: rgb(22, 28, 39);
  -webkit-box-shadow: inset 0px 0px 76px -8px rgba(44,71,115,1);
  -moz-box-shadow: inset 0px 0px 76px -8px rgba(44,71,115,1);
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  box-shadow: inset 0px 0px 76px -8px rgba(44,71,115,1);
  border: 1px solid #53acffbf;
  color: rgb(222, 234, 248);
}

.testimonial-box:hover {
  border: 1px solid #a6d3fcbf;
}

.testimonial-special-job {
  color: rgb(183, 205, 230);
  transition: color 0.3s ease; 
}

.testimonial-box:hover .testimonial-special-job {
  color: rgb(222, 234, 248) !important;
}

.testimonial-years {
  transition: background-color 0.3s ease; 
}

.testimonial-box:hover .testimonial-years {
  background-color: #5c97ee !important;
}

.testimonial-image {
  opacity: 0.8;
  transition: opacity 0.3s ease; 
}

.testimonial-box:hover .testimonial-image {
  opacity: 1
}

/* BLOG */
/* BLOG */
/* BLOG */
.blog-box {
  background-color: rgb(22, 39, 35);
  -webkit-box-shadow: inset 0px 0px 76px -8px #7a5fbe;
  -moz-box-shadow: inset 0px 0px 76px -8px #7a5fbe;
  box-shadow: inset 0px 0px 76px -8px #7a5fbe;
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  border: 1px solid #7a5fbe;
}

.blog-box:hover {
  -webkit-box-shadow: inset 0px 0px 120px 5px #7a5fbe, 0px 0px 40px -8px #7a5fbe;
  -moz-box-shadow: inset 0px 0px 120px 5px #7a5fbe, 0px 0px 40px -8px #7a5fbe;
  box-shadow: inset 0px 0px 120px 5px #7a5fbe, 0px 0px 40px -8px #7a5fbe;
  border: 1px solid #7a5fbe;
}

.blog-image {
  opacity: 0.8;
  transition: opacity 0.3s ease; 
}

.blog-box:hover .blog-image {
  opacity: 1
}

/* RESEARCH */
/* RESEARCH */
/* RESEARCH */
.research-box {
  background-color: rgb(16 23 24);
  -webkit-box-shadow: inset 0px 0px 76px -8px #2b636b;
  -moz-box-shadow: inset 0px 0px 76px -8px #2b636b;
  box-shadow: inset 0px 0px 76px -8px #2b636b;
  transition: box-shadow 1s ease; /* Add a smooth transition effect */
  border: 1px solid #68efff;
}

.research-box:hover {
  -webkit-box-shadow: inset 0px 0px 120px 5px #2b636b, 0px 0px 40px -8px rgb(67, 148, 161);
  -moz-box-shadow: inset 0px 0px 120px 5px #2b636b, 0px 0px 40px -8px rgb(67, 148, 161);
  box-shadow: inset 0px 0px 120px 5px #2b636b, 0px 0px 40px -8px rgb(67, 148, 161);
  border: 1px solid #94f4ff;
}

.research-image {
  opacity: 0.8;
  transition: opacity 0.3s ease; 
}

.research-box:hover .research-image {
  opacity: 1
}

/* CONTACT */
/* CONTACT */
/* CONTACT */
.contact-main-background {
  background-image: url(./Assets/contactBackground.svg);
  background-size: cover;
}

.contact-background{
  padding-left: 50px !important;
  padding-right: 50px !important;
}

@media (max-width: 767px) {
  .contact-background {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.contactContents {
  margin-top: 2rem  !important;
  padding-bottom: 2rem !important;
  color: whitesmoke;
}


@media (max-width: 767px) {
  .contactContents {
    margin-top: 2rem !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.social-icon {
  transition: box-shadow 0.7s ease; /* Add a smooth transition effect */
  border-radius: 50%;
}

.social-icon:hover {
  -webkit-box-shadow:  0px 0px 40px -8px #7a5fbe;
  -moz-box-shadow: 0px 0px 40px -8px #7a5fbe;
  box-shadow:  0px 0px 40px -8px #a68bea;
}















.main-name {
  color: #cd5ff8;
}

.custom-link {
  text-decoration: none;
  color: white !important;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: #be6adf !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #b562d6 !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

.myAvtar {
  justify-content: center !important;
  padding-top: 9em !important;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.home-about-description {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align: left;
}

.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: white !important;
}

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.home-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: rgba(255, 255, 255, 0.972) !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #68187a;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #801f95;
}

.home-social-icons:hover {
  color: #87209e;
  box-shadow: 0 0 5px #87209e;
  text-shadow: 0 0 2px #87209e;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #700c86 !important;
}

/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: rgb(10, 4, 22);
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}
.footer-copywright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #a588c0 !important;
}


/* --------- */
/* About */
/* --------- */

.about-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}



